node_modules
package-lock.json

backend/python312
backend/__pycache__
backend/firebase.json
backend/lambda/package
backend/gcloud/package

frontend/public
frontend/config.js
frontend/.firebase
frontend/.firebaserc