<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Family Tree</title>
    <link href="packages/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="packages/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <script src="packages/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="packages/vue/dist/vue.global.prod.js"></script>
</head>
<body>
    <div id="blocker" class="align-items-center text-center bg-white opacity-100 float-start position-absolute start-0 end-0 top-0 bottom-0" style="cursor:wait;display:flex;z-index:2000;">
        <div style="width:100%;">
            <div class="spinner-grow text-primary" role="status"></div>
            <div class="spinner-grow text-info" role="status"></div>
            <div class="spinner-grow text-light" role="status"></div>
        </div>
    </div>
    <div class="d-flex flex-column col-lg-8 mx-auto p-3 py-md-5" style="min-height:100vh;">
        <header class="d-flex justify-content-between pb-3 mb-5 border-bottom">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
                <i class="bi-people fs-1 text-success"></i>
                <span class="fs-4 ms-2"><small class="text-body-secondary"><em>my</em></small> <strong>Family</strong> <mark class="font-monospace">Tree</mark></span>
                <div id="loader" class="spinner-border text-primary ms-3" role="status"></div>
            </a>
            <div id="user-info" class="d-flex">
                <div class="dropdown">
                    <div type="button" data-bs-toggle="dropdown">
                        <img id="user-photo" class="img-thumbnail" style="max-height:36px;display:none;">
                        <div id="user-name"></div>
                        <div id="user-email"></div>
                        <div id="user-phone"></div>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="signOut()" class="dropdown-item">Sign Out</a></li>
                    </ul>
                </div>
                <button id="sign-out" onclick="signOut()" class="btn btn-light" style="display:none;">Sign Out</button>
            </div>
        </header>
        <main id="app">
            <ul class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="packages/bootstrap-icons/icons/person-add.svg" width="24px" height="24px">
                </a>
                <div class="list-group-item ps-5">
                    <ul class="list-group">
                        <div v-for="member in family.children" class="list-group-item border-0 p-0">
                            <a href="#" class="list-group-item list-group-item-action active">
                                <span>{{member.details.fullname}}&nbsp;</span>
                                <i type="button" @click="editMember(member)" class="bi-pencil text-warning"></i>
                                <span>&nbsp; – &nbsp;</span>
                                <i type="button" @click="initSpouse(member)" v-if="!member.family?.spouse" class="bi-person-add fs-4" style="vertical-align:sub;"></i>
                                <span v-if="member.family?.spouse">
                                    <span v-bind:onclick="`window.location.assign('?q=${member.family.spouse.id}')`">{{member.family.spouse.details.fullname}}&nbsp;</span>
                                    <i type="button" @click="editMember(member.family.spouse)" class="bi-pencil text-warning" data-bs-toggle="modal" data-bs-target="#modal"></i>
                                </span>
                                <button id="showModal" data-bs-toggle="modal" data-bs-target="#modal">Modal</button>
                            </a>
                            <div class="list-group-item ps-5">
                                <ul class="list-group">
                                    <a href="#" v-for="child in member.family?.children" class="list-group-item list-group-item-action">
                                        {{child.details.fullname}}
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <i type="button" @click="initChild(member)" class="bi-person-add fs-4"></i>
                                    </a>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="list-group-item list-group-item-action">
                            <img src="packages/bootstrap-icons/icons/person-add.svg" width="24px" height="24px">
                        </a>
                    </ul>
                </div>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="packages/bootstrap-icons/icons/person-add.svg" width="24px" height="24px">
                </a>
            </ul>
        </main>
        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="member" class="row g-2">
                            <div class="col-8">
                                <div class="form-floating">
                                    <input type="text" v-model.trim="member.fullname" class="form-control" placeholder="" required>
                                    <label>Họ và tên</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating">
                                    <input type="text" v-model.trim="member.nickname" class="form-control" placeholder="">
                                    <label>Tên gọi khác</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <input type="tel" v-model.trim="member.phone" class="form-control" placeholder="Số điện thoại">
                            </div>
                            <div class="col-6">
                                <input type="email" v-model.trim="member.email" class="form-control" placeholder="Địa chỉ email">
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <span class="input-group-text">Sinh năm</span>
                                    <input type="text" v-model.trim="member.birthday" class="form-control" placeholder="ngày/tháng/năm" :pattern="DATE_PATTERN">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <span class="input-group-text">tại</span>
                                    <input type="text" v-model.trim="member.birthplace" class="form-control" placeholder="địa phương...">
                                    <span>&nbsp;</span>
                                    <i data-bs-toggle="collapse" data-bs-target="#collapseDeath"
                                    type="button" class="bi-calendar2-plus float-end text-primary"></i>
                                </div>
                            </div>
                            <div class="col-6 collapse" id="collapseDeath">
                                <div class="input-group">
                                    <span class="input-group-text">Mất ngày</span>
                                    <input type="text" v-model.trim="member.deathday" class="form-control" :pattern="DATE_PATTERN">
                                </div>
                            </div>
                            <div class="col-6 collapse" id="collapseDeath">
                                <div class="input-group">
                                    <span class="input-group-text">tại</span>
                                    <input type="text" v-model.trim="member.deathplace" class="form-control">
                                    <span>&nbsp;</span>
                                    <input type="checkbox" v-model="member.deathlunar" id="btn-lunar" class="btn-check" checked autocomplete="off">
                                    <label class="btn btn-outline-warning" for="btn-lunar" data-bs-toggle="tooltip" title="Âm lịch">ÂL</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="text" v-model.trim="member.address" class="form-control" placeholder="Nơi ở hiện tại">
                            </div>
                            <button type="submit" onclick="saveChange(event)" class="d-none">SUBMIT</button>
                        </form>
                        <form id="history" class="row g-2">
                            <div class="col-4">
                                <label class="form-label">Tiểu sử</label>
                                <input type="text" v-model.trim="event_date" class="form-control" placeholder="Thời gian" :pattern="DATE_PATTERN" required>
                            </div>
                            <div class="col-8">
                                <label class="form-label float-end" type="button">
                                    <i type="button" class="bi-x-circle text-warning" @click="clsEvent()" v-if="event_date || event_details"></i>
                                    <span>&nbsp;&nbsp;&nbsp;</span>
                                    <i type="button" class="bi-save text-primary" @click="addEvent()" v-if="event_date && event_details"></i>
                                </label>
                                <input type="text" v-model.trim="event_details" v-on:keyup.enter="addEvent()" class="form-control" placeholder="Thông tin/sự kiện/học tập/làm việc..." required>
                            </div>
                        </form>
                        <table class="table table-hover table-stripe">
                            <tbody>
                                <tr v-if="member.birthday">
                                    <td>{{member.birthday}}</td>
                                    <td>
                                        Sinh năm {{toCanChi(member.birthday)}}<span v-if="!member.birthplace">.</span>
                                        <span v-if="member.birthplace"> tại {{member.birthplace}}.</span>
                                    </td>
                                </tr>
                                <tr v-for="(event, id) in sortHistory">
                                    <td>{{event.date}}
                                    </td>
                                    <td>{{event.details}}
                                        <i type="button" @click="delEvent(event)" class="bi-x-lg float-end text-danger"></i>
                                    </td>
                                </tr>
                                <tr v-if="member.deathday">
                                    <td>{{member.deathday}}</td>
                                    <td>
                                        Mất ngày {{member.deathday}}<span v-if="!member.deathplace">.</span>
                                        <span v-if="member.deathplace"> tại {{member.deathplace}}.</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" onclick="saveChange()" class="btn btn-primary">Lưu thông tin</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="pt-3 my-3 text-muted border-top mt-auto">
            Created by <em><mark type="button">Duy_abu</mark></em> &middot; &copy; 2024
        </footer>
      </div>
</body>
<script src="config.js"></script>
<script src="utility.js"></script>
<script src="backend.js"></script>
<script src="frontend.js"></script>
<script>
    function saveChange(event) {
        if (event) event.preventDefault();
        if (document.forms['member'].reportValidity()) {
            const modal = bootstrap.Modal.getInstance('#modal');
            switch (eApp.category) {
                case 'CHILD':
                    invoke(saveChild(xApp.member.family, eApp.member),
                        (child) => xApp.member.family.children.push(child));
                    break;
                case 'SPOUSE':
                    invoke(saveSpouse(xApp.member.family, eApp.member),
                        (spouse) => xApp.member.family.spouse = spouse);
                    break;
                default: //MEMBER
                    invoke(saveMember(xApp.member.id, eApp.member),
                        (member) => xApp.member.details = member);
                    break;
            }
            modal.hide();
        }
    }

    addEventListener(USER, function() {
        if (user.photoURL) {
            document.getElementById('user-photo').style.display = BLOCK;
            document.getElementById('user-photo').src = user.photoURL;
        } else if (user.displayName)
            document.getElementById('user-name').textContent = user.displayName;
        else if (user.email)
            document.getElementById('user-email').textContent = user.email;
        else if (user.phoneNumber)
            document.getElementById('user-phone').textContent = user.phoneNumber;
        else document.getElementById('sign-out').style.display = BLOCK;

        revoke(initMember(), (member) => {
            if (!member) return false;
            xApp.family.children = [member];
            revoke(loadFamily(member.id), (family) =>
                xApp.family.children.findById(member.id).family = family);
        });
    });
</script>
</html>